=f.label :First_Name 
=f.text_field :fname
=f.label :Last_Name
=f.text_field :lname
=f.label :Email
=f.text_field :email
=f.label :Username
=f.text_field :username
=f.label :Password
=f.password_field :password
=f.label :Confirm_Password
=f.password_field :confirm_password
=f.label :Bio
=f.text_area :bio
=f.label :Url
=f.text_field :url
=f.label :City
=f.text_field :city
=f.label :State
=f.text_field :state
%br
=f.submit :Submit