%h1=@user.full_name
%h4 Bio
=@user.bio
%br
%h4 URL
=@user.url
%br
%h4 Location
=@user.location
%h4 Tweets
-@tweets.each do |t|
	-if !t.tweet_data.nil?
		%font{:size => "4em"}=t.tweet_data 
		%br
		%font{:size => "1.5em"}=t.created_at.strftime("%e %b %Y %H:%m:%S%p")
		%br
	-else

-if current_user == nil

-elsif current_user.id == @user.id
	%h4 Compose your tweet
	=form_for Tweet.new, :url => new_tweet_path do |f|
		=f.text_area :tweet_data
		%br
		=f.submit :Submit


