!!!
%html
	%head
		%title Fake Twitter V2
		=stylesheet_link_tag "bootstrap.min"
		=stylesheet_link_tag "bootstrap-responsive.min"
		=csrf_meta_tags
	%body 
		.row
			.span8.offset2
				%h1 Welcome to Fake Twitter
				-if !flash[:notice].nil?
					.alert=flash[:notice]
				%ul.nav.nav-pills 
					%li 
						=link_to "Home", root_path
					%li 
						=link_to "Users", user_index_path		
					-if current_user.nil? 
						%li 
							=link_to "Sign Up", new_user_path
						%li 
							=link_to "Sign In", new_session_path
					-elsif	 	 
						%li 
							=link_to "Profile", "/user/#{current_user.id.to_s}"
						%li 
							=link_to "Sign Out", sign_out_path
					%form{:class => "navbar-search pull-right", :method => "post", :action => "/search_results"}
						%input{:type => "text", :class => "search_query", :placeholder => "Search Tweets", :name => "search_query"}
			.span10.offset2
				=yield 			


